<div *ngIf="!issubmitted()">
<app-test   questionendpoint="api/ppequestion" answerendpoint="api/ppescore">
    
</app-test>
</div>

<div *ngIf="issubmitted()">
<p-dialog header="Test Completed" [(visible)]="visible" [modal]="true" [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }" [style]="{ width: '50vw' }" [draggable]="false" [resizable]="false">
    <p class="mb-2">
        You have completed your test
    </p>
    <!-- <h1 class="font-bold"></h1> -->
     <ng-template #footer>
        <a routerLink="/" >
        <p-button severity="contrast">
            Go to Home
        </p-button>
        </a>    
          </ng-template>
    
</p-dialog>

</div>
